name: Global Animal Adoptions Bot

on:
  schedule:
    - cron: "*/45 * * * *"   # ogni 45 minuti
  workflow_dispatch:         # avvio manuale

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run bot
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        run: python main.py
